.Articles {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 80%;
}

.Articles h3 {
    text-align: left;
    font-size: 1rem;
}

.article {
    margin: 0 auto;
    cursor: pointer;
    padding: 5% 7%;
    background-color: rgb(233, 231, 231);
    margin: 5%;
    transition: 0.3s;
}

.article:hover {
    color: crimson;
    background-color: lightgray;
}